natos.xcodeproj/project.xcworkspace/contents.xcworkspacedata
natos.xcodeproj/project.xcworkspace/xcuserdata/noobrien.xcuserdatad/UserInterfaceState.xcuserstate
natos.xcodeproj/xcuserdata/noobrien.xcuserdatad/xcschemes/natos.xcscheme
natos.xcodeproj/xcuserdata/noobrien.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
